@font-face {
  font-family: "iconfont"; /* Project id 4709877 */
  src: url('iconfont.woff2?t=1728875217831') format('woff2'),
       url('iconfont.woff?t=1728875217831') format('woff'),
       url('iconfont.ttf?t=1728875217831') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuojiantou:before {
  content: "\e62b";
}

.icon-shenglvehao:before {
  content: "\e64f";
}

.icon-wenhao:before {
  content: "\e72d";
}

.icon-wenhao1:before {
  content: "\e616";
}

.icon-bi:before {
  content: "\e601";
}

.icon-jinqian:before {
  content: "\e73b";
}

.icon-jinqianguanli:before {
  content: "\e6be";
}

.icon-a-teshuxiajiantou:before {
  content: "\e60a";
}

.icon-a-teshuyoujiantou:before {
  content: "\e60b";
}

