.br-bottom {
  // width: 90%;
  border-bottom: 1px solid #ddd;
}
.text-12 {
  font-size: 12px !important;
}
.text-14 {
  font-size: 14px;
}
.text-18 {
  font-size: 18px;
}
.text-16 {
  font-size: 16px;
}
.text-20 {
  font-size: 20px;
}
.color-ddd {
  color: #ddd;
}
.color-9E9EA0 {
  color: #9e9ea0;
}
.color-628BDC {
  color: #628bdc;
}
.color-000 {
  color: #000;
}
.block {
  padding: 15px;
  line-height: 2;
}
.block-left {
  width: 85%;
}
.block-ddd {
  width: 100%;
  background-color: #ddd;
  height: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-3 {
  padding: 3px;
}
.padding-top-10 {
  padding-top: 10px;
}
.display-inline-block {
  display: inline-block;
}
.width-73 {
  width: 73%;
}
